# Python artifacts
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Infrastructure
.terraform/
*.tfstate
*.tfstate.backup

# Data and Results
Homol/
Ori-*/
*.ply
*.xml
!pymicmac/**
!tests/**
!bench/**
!install/**
!docs/**
!*.py
!requirements*.txt
!.pre-commit-config.yaml
!pyproject.toml
!run-CI.sh
